<% if(posts.length > 0)
{ %> <% for(let post of posts) { %>
    <div class="card mt-4 mb-4">
        <%= post.thumbnail %>
        <img
                class="card-img-top"
                src="http://localhost:5000/uploads/thumbnail/<%= post.thumbnail%>"
                alt="Card image cap"
        />
        <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text text-justify"><%- truncate(post.body,400) %></p>
            <a href="/post/<%= post.id %>" class="btn btn-primary">بیشتر ...</a>
        </div>
        <div class="card-footer text-muted">
            پست شده در تاریخ : <%= post.jalaliDate %>
        </div>
    </div>




<% } %>


<nav aria-label="Page navigation">
    <% if (pages > 1) { %>
        <% for (let i = 1; i <= pages; i++) { %>
        <ul class="pagination">

            <li class="page-item">   <a href="/dashboard?page=<%= i %>" class="<%= i === current ? 'active' : '' %>"><%= i %></a></li>
            <% } %>
        </ul>

    <% } %>
</nav>

<% } else {%>
    <div class="m-5 text-center">
        <h1>هیچ پستی در پایگاه داده نیست</h1>
    </div>
<% } %>



